.book{
	position: absolute;
    width: 100%;
    top: 65px;
    bottom: 0;
    height: auto;
}

.book .book-summary .exc-trigger:before {
    color: gray;
}

.book-body svg{
    max-width: 1000px !important;
}

div.page-inner {
    position: relative;
    max-width: 100%; 
    margin: 0 auto;
    padding: 20px 65px 40px 71px;
}

.navigation {
    min-width: 65px;
}

.rong-head{
    position: absolute;
    top: 0;
    width: 100%;
    height: 65px;
    background: #F1F2F3;
    z-index: 11;
}

.rong-head a{
    color: #FFF;
}

.rong-head-box-logo{
    background-image: url(logo.png);
    background-repeat: no-repeat;
    height: 60px;
    width: 266px;
    background-size: contain;
    background-position: center;
    float: left;
    margin-left: 30px;
}